<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safari Safe</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Safari Safe</h1>

        <p>
            Share your live journey location with trusted family members
            and let them track your safety in real time.
        </p>

        <a href="/start">
            <button>Start Journey</button>
        </a>

    </div>

</body>

</html>